@using SharedLibrary.Enums
@model IEnumerable<DataAccess.Models.School>
@{
	ViewBag.Title = "Školy";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="table-schools" class="table table-hover contact-list toggle-arrow-tiny" data-page-size="10">
						<thead>
							<tr>
								<th data-type="number" data-toggle="true">
									ID
								</th>
								<th data-type="number" data-hide="phone">
									Druh
								</th>
								<th>
									Název
								</th>
								<th data-hide="phone">
									Město
								</th>
								<th data-hide="phone">
									Ulice
								</th>
								<th data-sort-ignore="true" class="text-center">
									Akce
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var school in Model) {
								<tr>
									<td data-value="@school.ID">
										@school.ID
									</td>
									<td data-value="@(((byte) school.Type))">
										<span class="c-help" data-toggle="tooltip" data-original-title="@(((byte) school.Type).ToString())">
											@(school.Type.GetDescription())
										</span>
									</td>
									<td>
										@school.Name
									</td>
									<td>
										@school.City
									</td>
									<td>
										@school.Street
									</td>
									<td class="d-flex justify-content-around">
										<a href="@Url.Action("Edit", "School", new {Area = "Admin", id = school.ID})" data-toggle="tooltip" data-original-title="Upravit">
											<i class="fa fa-pencil text-inverse"></i>
										</a>
										<a href="@Url.Action("Detail", "School", new {Area = "Admin", id = school.ID})" data-toggle="tooltip" data-original-title="Detaily">
											<i class="fa fa-eye text-inverse"></i>
										</a>
									</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6">
									<div class="text-right">
										<ul class="pagination"> </ul>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section footer {
	<script type="text/javascript">
		$(() => {
			$("#table-schools").footable({
			});
		});
	</script>
}