@model IEnumerable<DataAccess.Models.Zolik>

<div class="card-header p-4 bg-info">
	<h4 class="text-white card-title">Žolíci</h4>
	<h6 class="card-subtitle text-white mb-0 op-5">Zde se zobrazují nejnovější žolíci</h6>
</div>
<div class="card-body h-100">
	<div class="message-box contact-box">
		<div class="message-widget contact-widget">
			@if (!Model.Any()) {
				<div class="text-center">
					<div class="mb-3">
						<img style="width: 70%; height: 100%;" title="Žádný žolíky" src="@Url.Content("~/Content/Images/SVGs/NoZolik.svg")" />
					</div>
					<span class="text-muted">Nemáte žádného žolíka</span>
				</div>
			}
			@foreach (var zolik in Model) {
				<!-- Zolik -->
				<a href="@Url.Action("Dashboard", "Zoliky", new {Area = "App", id = zolik.ID})">
					<div class="mail-contnet">
						<h5>@zolik.Title</h5>
						<span class="mail-desc">(@zolik.Type.FriendlyName) @zolik.OwnerSince.ToShortDateString()</span>
					</div>
				</a>
				<!-- /Zolik -->
			}
		</div>
	</div>
</div>