@using SharedLibrary.Shared
<div class="card-header">
	<div class="card-actions">
		<a class="" data-action="collapse">
			<i class="ti-minus"></i>
		</a>
		<a class="btn-close" data-action="close">
			<i class="ti-close"></i>
		</a>
	</div>
	<h4 class="card-title m-b-0">Statistiky</h4>
</div>
<div class="card-body b-t collapse show">
	<div class="row">
		<div class="col">
			Získaných žolíků
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-info" id="@SettingKeys.StatZoliksReceived">
				0
			</span>
		</div>
	</div>
	<div class="row my-3">
		<div class="col">
			Přijatých žolíků
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-info" id="@SettingKeys.StatZoliksAccepted">
				0
			</span>
		</div>
	</div>
	<div class="row my-3">
		<div class="col">
			Odeslaných žolíků
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-info" id="@SettingKeys.StatZoliksSent">
				0
			</span>
		</div>
	</div>
	<div class="row my-3">
		<div class="col">
			Získaných černých petrů
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-danger" id="@SettingKeys.StatBlackReceived">
				0
			</span>
		</div>
	</div>
	<div class="row my-3">
		<div class="col">
			Získaných jokérů
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-success" id="@SettingKeys.StatJokersReceived">
				0
			</span>
		</div>
	</div>
	<div class="row my-3">
		<div class="col">
			Odeslaných jokérů
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-success" id="@SettingKeys.StatJokersSent">
				0
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			Přijatých jokérů
		</div>
		<div class="col-3 text-right">
			<span class="label label-light-success" id="@SettingKeys.StatJokersAccepted">
				0
			</span>
		</div>
	</div>
</div>