@using DataAccess
@using SharedLibrary.Shared
@{
	Layout = "~/Views/Shared/Dashboard/_LayoutMenuBase.cshtml";
}

@section styles {
	@RenderSection("styles", false)
}

@section header{
	@RenderSection("header", false)
}

@section menu{
	<li class="nav-small-cap">OBECNÉ</li>
	<li>
		<a href="@Url.Action("Dashboard", "Main", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-gauge"></i>
			<span class="hide-menu">Přehled </span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("Dashboard", "Zoliky", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-laptop-windows"></i>
			<span class="hide-menu">Žolíci</span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("Dashboard", "Transactions", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-bank"></i>
			<span class="hide-menu">Transakce</span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("Dashboard", "Achievement", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-trophy"></i>
			<span class="hide-menu">Achievementy</span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("Dashboard", "News", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-newspaper"></i>
			<span class="hide-menu">Novinky</span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("Dashboard", "Notification", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-bell-ring"></i>
			<span class="hide-menu">Oznámení</span>
		</a>
	</li>
	<li class="nav-devider"></li>
	<li class="nav-small-cap">NÁSTROJE</li>
	<li>
		<a href="@Url.Action("Transfer", "Zoliky", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-send"></i>
			<span class="hide-menu">Darovat žolíka</span>
		</a>
	</li>
	<li>
		<a href="@Url.Action("LoginHistory", "Account", new {Area = "App"})" aria-expanded="false">
			<i class="mdi mdi-history"></i>
			<span class="hide-menu">Historie přihlášení</span>
		</a>
	</li>
	<li>
		@if (User.IsInRolesOr(UserRoles.Administrator, UserRoles.Developer, UserRoles.Teacher)) {
			<a class="has-arrow" href="#" aria-expanded="false">
				<i class="mdi mdi-wrench"></i>
				<span class="hide-menu">Administrace</span>
			</a>
			<ul aria-expanded="false" class="collapse">
				<li>
					<a href="@Url.Action("Dashboard", "Admin", new {Area = "Admin"})">Školní</a>
				</li>
				@if (User.IsInRolesOr(UserRoles.Administrator, UserRoles.Developer)) {
					<li>
						<a href="@Url.Action("Dashboard", "Admin", new {Area = "Global"})">Globální</a>
					</li>
				}
			</ul>
		}
	</li>
	@*<li>
			<a href="https://support.zoliky.eu/" target="_blank" aria-expanded="false">
				<i class="mdi mdi-help"></i>
				<span class="hide-menu">Podpora</span>
			</a>
		</li>*@
}

@RenderBody()

@section sidebarFooter{
	<!-- item-->
	<a href="@Url.Action("Mobile", "Main", new {Area = "App"})" class="link" data-toggle="tooltip" title="Mobilní aplikace">
		<i class="ti-download"></i>
	</a>
	<!-- item-->
	<a href="@Url.Action("Settings", "Account", new {Area = "App"})" class="link" data-toggle="tooltip" title="Nastavení">
		<i class="ti-settings"></i>
	</a>
	<!-- item-->
	@using (Html.BeginForm("Logout", "Account", new {Area = ""}, FormMethod.Post, new {id = "logOutForm"})) {
		@Html.AntiForgeryToken()
		<a href="javascript:$('#logOutForm').submit();" class="link" data-toggle="tooltip" title="Odhlásit se">
			<i class="mdi mdi-power"></i>
		</a>
	}
}


@section scripts {
	@RenderSection("scripts", false)
}

@section footer {
	@RenderSection("footer", false)
}