@model ZolikyWeb.Areas.Admin.Models.Admin.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex c-help flex-row" data-toggle="tooltip" data-placement="bottom" title="Včetně jokérů, černých petrů...">
					<div class="round round-lg align-self-center round-info">
						<i class="ti-wallet"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">
							@Model.SchoolZoliksCount
						</h3>
						<h5 class="text-muted mb-0">Žolíků</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row">
					<div class="round round-lg align-self-center round-warning">
						<i class="mdi mdi-account-multiple"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SchoolStudentsCount</h3>
						<h5 class="text-muted mb-0">Studentů</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row">
					<div class="round round-lg align-self-center round-success">
						<i class="mdi mdi-developer-board"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SchoolTeachersCount</h3>
						<h5 class="text-muted mb-0">Vyučujících</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex c-help flex-row" data-toggle="tooltip" data-placement="bottom" title="@Model.GetSpecialDateText">
					<div class="round round-lg align-self-center round-danger">
						<i class="mdi mdi-calendar-clock"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SpecialDateText</h3>
						<h5 class="text-muted mb-0">@Model.SpecialDateDesc</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
</div>
<!-- /Row -->
<div class="row">
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-5">
		<div class="card">
			@Html.Partial("DPartials/_Completed")
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-5">
		<div class="card NoSelectAll">
			@Html.Partial("DPartials/_ClassesLeaderboard", Model.ClassesLeaderboard)
		</div>
	</div>
	<!-- /Column -->
</div>