@model ZolikyWeb.Areas.Admin.Models.Admin.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex c-help flex-row" data-toggle="tooltip" data-placement="bottom" title="Včetně jokérů, černých petrů...">
					<div class="round round-lg align-self-center round-info">
						<i class="ti-wallet"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">
							@Model.SchoolZoliksCount
						</h3>
						<h5 class="text-muted mb-0">Žolíků</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row">
					<div class="round round-lg align-self-center round-warning">
						<i class="mdi mdi-account-multiple"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SchoolStudentsCount</h3>
						<h5 class="text-muted mb-0">Studentů</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row">
					<div class="round round-lg align-self-center round-success">
						<i class="mdi mdi-developer-board"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SchoolTeachersCount</h3>
						<h5 class="text-muted mb-0">Počet vyučujících</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex c-help flex-row" data-toggle="tooltip" data-placement="bottom" title="@Model.GetSpecialDateText">
					<div class="round round-lg align-self-center round-danger">
						<i class="mdi mdi-calendar-clock"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SpecialDateText</h3>
						<h5 class="text-muted mb-0">@Model.SpecialDateDesc</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-xlg-3 col-md-6">
		<div class="card">
			@Html.Partial("DPartials/_QuickActions")
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-md-6">
		<div class="card">
			@Html.Partial("DPartials/_ClassesLeaderboard", Model.ClassesLeaderboard)
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-md-6">
		<div class="card">
			@Html.Partial("DPartials/_QuickZolik", Model.QuickZolik)
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-md-6">
		<div class="card NoSelectAll">
			@Html.Partial("DPartials/_Completed")
		</div>
	</div>
	<!-- /Column -->
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
	<div class="col-xlg-6 col-md-12">
		<div class="card">
			@Html.Partial("DPartials/_ClassChart")
		</div>
	</div>
	<div class="col-xlg-6 col-md-12">
		<div class="card">
			@Html.Partial("DPartials/_ZolikChart")
		</div>
	</div>
</div>
<!-- /Row -->

@section footer {
	<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.min.js")"></script>
	<script>
		$(() => {

			const chartColours = {
				blue: "rgb(54, 162, 235)",
				green: "rgb(75, 192, 192)",
				grey: "rgb(201, 203, 207)",
				orange: "rgb(255, 159, 64)",
				purple: "rgb(153, 102, 255)",
				red: "rgb(255, 99, 132)",
				yellow: "rgb(255, 205, 86)"
			};

			const $classCtx = $("#classChart");
			const drawClassChart = (datasets) => {
				const cChart = new Chart($classCtx,
					{
						type: "bar",
						data: {
							labels: ["Žolíci"],
							datasets: datasets
						},
						options: {
							responsive: true,
							scales: {
								yAxes: [
									{
										ticks: {
											precision: 0
										}
									}
								]
							}
						}
					}
				);
			}

			$.get('@Url.Action("GetClassJson")',
				null,
				(data) => {
					drawClassChart(data);
				});

			const $zolikCtx = $("#zolikChart");
			const drawZolikChart = (data, labels) => {
				const cChart = new Chart($zolikCtx,
					{
						type: 'doughnut',
						data: {
							datasets: [
								{
									data: data,
									backgroundColor: [
										chartColours.red,
										chartColours.green,
										chartColours.yellow,
										chartColours.blue,
										chartColours.orange,
									]
								}
							],
							labels: labels
						},
						options: {
							responsive: true,
						}
					}
				);
			}

			$.get('@Url.Action("GetZoliksJson")',
				null,
				(data) => {
					console.log(data);
					drawZolikChart(
						data.map(x => x.Count),
						data.map(x => x.Label)
					);
				});

		});
	</script>
}