@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.App.Models.Account.GeneralChangeModel

<h4 class="card-title">Základní údaje</h4>
@using (Html.BeginForm("ChangeGeneral", "Account", new {Area = "App"}, FormMethod.Post, new {@class = "form-material mt-4"})) {
	@Html.AntiForgeryToken()
	<div class="form-group" data-toggle="tooltip" title="Pro změnu uživatelského jména kontaktujte podporu">
		@Html.NoSelectLaberFor(x => x.Username)

		@Html.MaterialTextBoxFor(x => x.Username, 1, "", new Dictionary<string, object>() {{"disabled", "disabled"}})
	</div>
	<div class="form-group">
		@Html.NoSelectLaberFor(x => x.Email)

		@Html.MaterialTextBoxFor(x => x.Email, 2, "email")

		@Html.ValidationMessageFor(x => x.Email)
	</div>
	<div class="form-group">
		@Html.NoSelectLaberFor(x => x.Gender)

		@Html.DropDownListFor(x => x.Gender, Model.GenderSelect, new {@class = "form-control p-0", tabindex = 6, autocomplete = "sex"})

		@Html.ValidationMessageFor(x => x.Gender)
	</div>
	<div class="text-right">
		<button class="btn btn-primary" type="submit">
			Uložit
		</button>
	</div>
}