@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Student.ImportStudentModel2

<h3 class="card-title">
	Načtená data
</h3>
<hr class="mt-0 m-b-40" />
<div class="row">
	<div class="col">
		<div class="table-responsive">
			<table id="table-students" class="table table-hover contact-list toggle-arrow-tiny" data-page-size="10">
				<thead>
					<tr>
						<th data-type="number" data-toggle="true">
							Email
						</th>
						<th>
							Křestní jméno
						</th>
						<th>
							Příjmení
						</th>
						<th>
							Třída
						</th>
						<th>
							Přezdívka
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var student in Model.Students) {
						<tr>
							<td>
								@student.Email
							</td>
							<td>
								@student.Name
							</td>
							<td>
								@student.Lastname
							</td>
							<td>
								@student.Classname
							</td>
							<td>
								@student.Username
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8">
							<div class="text-right">
								<ul class="pagination"> </ul>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<h3 class="card-title">
	Nastavení
</h3>
<hr class="mt-0 m-b-40" />
<div class="row">
	<div class="col">
		<p>
			<span class="text-danger">Zkontrolujte věškeré údaje.</span> Jestliže údaje
			<strong>ne</strong>souhlasí, opravte vstupní soubor a opět ho nahrajte.
		</p>
		<br />
		<p>
			Pokud údaje souhlasí, klikněte níže na tlačíko "Potvrdit".
		</p>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		@using (Html.BeginForm("Import", "Student", new {Area = "Admin"}, FormMethod.Post, new {@class = "form-horizontal"})) {
			@Html.AntiForgeryToken()
			<button type="submit" class="btn btn-primary">Potvrdit</button>
		}
	</div>
</div>