<div class="col">
	<div class="card">
		<div class="card-body wizard-content">
			<h4 class="card-title">Tutoriál</h4>
			<h6 class="card-subtitle">
				Podrobný návod, kde a jak získat mobilní aplikace Žolíky pro Android.
			</h6>
			<form action="#" class="tab-wizard wizard-circle">
				<!-- Step 1 -->
				<h6>Úvod</h6>
				<section>
					<div class="row">
						<div class="col-md-7">
							<p class="text-center mt-4">
								Vítejte v návodu
								<strong>Jak získat mobilní aplikaci Žolíky pro Android</strong>
							</p>
							<h4 class="mt-4">Ovládání</h4>
							<p>
								Jednotlivé kroky návodu lze přepínat pomoct tlačítek "
								<em>Zpět</em>" a "
								<em>Další</em>" vpravo dole, či kliknutím na určitý krok v liště (nahoře).
							</p>
							<h4 class="mt-5">Požadavky</h4>
							<ul>
								<li>
									Android
									<strong>4.1+</strong>
								</li>
								<li>
									Uložiště:
									<strong>20MB+</strong>
								</li>
								<li>Připojení k internetu</li>
								<li>Pevné nervy</li>
							</ul>
							<p class="mt-5">
								Nebudete-li si vědět rady, neváhejte se obrátit na
								<a href="https://support.zoliky.eu/" title="Podpora" target="_blank">Podporu</a>.
							</p>
							<div class="mt-4 text-center">
								<a target="_blank" title="Odkaz na iTunes" href="https://itunes.apple.com/cz/app/%C5%BEol%C3%ADky/id1463194810">
									Aaale, já mám Ajfoun
								</a>
							</div>
						</div>
						<div class="col-md-5 text-center">
							<img src="@Url.Content("~/Content/Images/Screens/GPlay.jpg")" alt="Google play" class="pb-5" style="width: 70%; height: auto" />
						</div>
					</div>
				</section>
				<!-- Step 2 -->
				<h6>Google skupina</h6>
				<section>
					<div class="row">
						<div class="col-md-6">
							<p class="mt-3 form-group">
								<strong>Připojte se</strong> do
							</p>
							<div class="text-center mb-5">
								<a href="https://groups.google.com/forum/#!forum/zoliky" class="btn btn-lg btn-rounded  btn-outline-success" target="_blank" title="Odkaz na Google skupinu">Google skupiny</a>
							</div>
							<p class="form-group">
								<strong class="text-danger">DŮLEŽITÉ:</strong> Připojte se přes Google účet, který používáte i na mobilu. (jinak nebude možné aplikaci nainstalovat)
							</p>
							<p class="form-group">
								Po kliknutí na tlačíko "
								<strong>Připojit se ke skupině</strong>" se zobrazí potvrzovací dialogové okno.
								V tomto okně si můžete změnit jméno, pod kterým si budete zobrazovat.
								Prosíme, použijte
								<strong>své skutečné jméno</strong>.
							</p>
							<p>
								Připojení ke skupině provedete kliknutím na tlačíko "
								<strong>Připojit se ke skupině</strong>".
							</p>
						</div>
						<div class="col-md-6 text-center">
							<img src="@Url.Content("~/Content/Images/Screens/Skupina.jpg")" alt="Google skupina" class="pb-5" style="width: 100%; height: auto" />
						</div>
					</div>
				</section>
				<!-- Step 3 -->
				<h6>Registrace</h6>
				<section>
					<div class="row">
						<div class="col-md-6">
							<p class="mt-3 form-group">
								<strong>Zaregistrujte se </strong> do alpha verze
							</p>
							<div class="text-center mb-5">
								<a href="https://play.google.com/apps/testing/com.QuantumSociety.ZolikyMobile" class="btn btn-lg btn-rounded btn-warning" target="_blank" title="Odkaz na registraci Google testera">Testování aplikace</a>
							</div>
							<p class="form-group">
								Do alpha verze se dostanete pomocí kliknutí na tlačítko
								"
								<strong>Chci se stát testerem</strong>".
								Poté se Vám stránka přenačte a vypíše se potvrzení, že jste se úspěšně stal testerem aplikace.
							</p>
							<p>
								Poznámka:
								<em>
									Testovací program můžete kdykoliv opustit pomocí kliknutí na tlačíko "
									<a href="https://play.google.com/apps/testing/com.QuantumSociety.ZolikyMobile" title="Odkaz na opuštění programu" target="_blank">Opustit program</a>".
								</em>
							</p>
						</div>
						<div class="col-md-6 text-center">
							<img src="@Url.Content("~/Content/Images/Screens/Reg.jpg")" alt="Registrace testera" class="pb-5" style="width: 100%; height: auto" />
						</div>
					</div>
				</section>
				<!-- Step 4 -->
				<h6>Instalace</h6>
				<section>
					<div class="row">
						<div class="col-md-6">
							<p class="mt-3 form-group">
								Nyní si můžete aplikaci Žolíky stáhnout z obchodu Google Play.
							</p>
							<div class="text-center mb-5">
								<a href="https://play.google.com/store/apps/details?id=com.QuantumSociety.ZolikyMobile" title="Odkaz na Google Play" target="_blank">
									<img src="@Url.Content("~/Content/Images/SVGs/google-play-badge.svg")" title="Google Play" alt="Google Play" style="height: 60px; width: auto;" />
								</a>
							</div>
							<p class="form-group">
								Instalaci spustíte po kliknutí na tlačítko
								"
								<strong>Nainstalovat</strong>" a následného vybrání telefonu, na který chcete aplikaci nainstalovat.
							</p>
							<p class="form-group">
								Po nainstalování
								<strong>aplikaci spusťte</strong> a přihlašte se svými údaji k účtu Žolíků.
							</p>
							<br />
							<br />
							<br />
							<p>
								Děkujeme, že jste postupovali dle tutoriálu a přejeme Vám krásný den.
								Vyskytly-li se však potíže, neváhejte se obrátit na
								<a href="https://support.zoliky.eu/" title="Podpora" target="_blank">
									<strong>Podporu</strong>
								</a>.
							</p>
						</div>
						<div class="col-md-6 text-center">
							<img src="@Url.Content("~/Content/Images/Screens/Install.jpg")" alt="Google play - Nainstalovat" class="pb-5" style="width: 70%; height: auto" />
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>