@using SharedLibrary.Enums
@using SharedLibrary.Shared
@model IEnumerable<DataAccess.Models.Transaction>

<div class="table-responsive">
	<table id="table-trans" class="table table-hover contact-list toggle-arrow-tiny" data-page-size="@Model.Count()">
		<thead>
			<tr>
				<th data-type="number" data-toggle="true">
					ID
				</th>
				<th>
					Od
				</th>
				<th data-sort-ignore="true" class="text-center">
					→
				</th>
				<th>
					Pro
				</th>
				<th>
					Datum
				</th>
				<th data-sort-ignore="true">
					Zpráva
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var transaction in Model) {
				<tr>
					<td data-value="@transaction.ID">
						@transaction.ID
					</td>
					<td>
						@transaction.From
					</td>
					<td class="text-center">
						→
					</td>
					<td>
						@transaction.To
					</td>
					<td data-value="@transaction.Date.GetJsTimestamp()">
						@transaction.Date.ToString("dd.MM.yyyy")
					</td>
					<td>
						@if (!string.IsNullOrWhiteSpace(transaction.Message) &&
							 transaction.Typ == TransactionAssignment.ZerziRemoval ||
							 transaction.Typ == TransactionAssignment.Split ||
							 transaction.Typ == TransactionAssignment.NewAssignment) {
							@transaction.Message
						} else {
							@:-----
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>