@using SharedLibrary.Enums
@using SharedLibrary.Shared
@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Zoliky.ZolikModel

@{
	ViewBag.Title = "Žolík";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
	<div class="col">
		<div class="card card-outline-info">
			<div class="card-header">
				<h4 class="mb-0 text-white">
					@if (Model.IsCreate) {
						@:Vytvoření žolíka
					} else {
						if (Model.AllowEdit) {
							@:Úprava žolíka
						} else {
							@:Detaily žolíka
						}
					}
				</h4>
			</div>
			<div class="card-body">
				@using (Html.BeginForm(Model.ActionName, "Zolik", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" })) {
					@Html.AntiForgeryToken()
					@Html.SecureHiddenFor(x => x.ID)
					<div class="form-body">
						<h3 class="card-title">
							Obecné
						</h3>
						<hr class="mt-0 m-b-40" />
						<!-- row -->
						<div class="row">
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">ID</label>
									<div class="col-md-9">
										<p class="form-control-static text-right text-md-left">
											@Model.ID
										</p>
									</div>
								</div>
							</div>
							<!-- /item -->
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">Udělen za</label>
									<div class="col-md-8">
										@if (Model.AllowEdit) {
											@Html.MaterialTextBoxFor(x => x.Title, 1)
											@Html.ValidationMessageFor(x => x.Title)
										} else {
											<p class="form-control-static">
												@(Model.Title)
											</p>
										}
									</div>
								</div>
							</div>
							<!-- /item -->
						</div>
						<!-- /row -->
						<!-- row -->
						<div class="row">
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">Vyučující</label>
									<div class="col-md-9">
										<p class="form-control-static">
											@(Model.Teacher.FullName)
										</p>
									</div>
								</div>
							</div>
							<!-- /item -->
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3"></label>
									<div class="col-md-8">
										<p class="form-control-static">
										</p>
									</div>
								</div>
							</div>
							<!-- /item -->
						</div>
						<!-- /row -->
						<!-- row -->
						<div class="row">
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">Aktuální vlastník</label>
									<div class="col-md-9">
										<p class="form-control-static">
											@if (Model.IsCreate) {
												@Html.DropDownListFor(x => x.OwnerID, Model.StudentSelect, new {@class = "form-control custom-select", tabindex = 2})
												@Html.ValidationMessageFor(x => x.OwnerID)
											} else {
												@Html.HiddenFor(x => x.OwnerID)
												<span class="c-help" data-toggle="tooltip" data-original-title="@(Model.Owner.Class?.Name ?? "-")">
													@(Model.Owner.FullName)
												</span>
											}
										</p>
									</div>
								</div>
							</div>
							<!-- /item -->
							@if (!Model.IsCreate) {
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Původní vlastník</label>
										<div class="col-md-8">
											<p class="form-control-static">
												<span class="c-help" data-toggle="tooltip" data-original-title="@(Model.OriginalOwner.Class?.Name ?? "-")">
													@(Model.OriginalOwner.FullName)
												</span>
											</p>
										</div>
									</div>
								</div>
								<!-- /item -->
							}
						</div>
						<!-- /row -->

						@if (!Model.IsCreate) {
							<!-- row -->
							<div class="row">
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Datum přidělení</label>
										<div class="col-md-9">
											<p class="form-control-static">
												@(Model.Created.ToString("dd.MM.yyyy"))
											</p>
										</div>
									</div>
								</div>
								<!-- /item -->
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Poslední přenos</label>
										<div class="col-md-8">
											<p class="form-control-static">
												@(Model.OwnerSince.ToString("dd.MM.yyyy"))
											</p>
										</div>
									</div>
								</div>
								<!-- /item -->
							</div>
							<!-- /row -->
						}

						<h3 class="card-title">
							Nastavení
						</h3>
						<hr class="mt-0 m-b-40" />
						<!-- row -->
						<div class="row">
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">Typ</label>
									<div class="col-md-9">
										@if (Model.AllowEdit) {
											@Html.DropDownListFor(x => x.Type, Model.TypeSelect, new { @class = "form-control custom-select", tabindex = 4 })
											@Html.ValidationMessageFor(x => x.Type)
										} else {
											<p class="form-control-static">
												@(Model.Type.GetDescription())
											</p>
										}
									</div>
								</div>
							</div>
							<!-- /item -->
							<!-- item -->
							<div class="col-md-6">
								<div class="form-group row">
									<label class="control-label text-right col-md-3">Předmět</label>
									<div class="col-md-8">
										@if (Model.AllowEdit) {
											@Html.DropDownListFor(x => x.SubjectID, Model.SubjectSelect, new {@class = "form-control custom-select", tabindex = 5})
											@Html.ValidationMessageFor(x => x.SubjectID)
										} else {
											@Html.HiddenFor(x => x.SubjectID)
											<p class="form-control-static">
												@(Model.Subject.Name)
											</p>
										}
									</div>
								</div>
							</div>
							<!-- /item -->
						</div>
						<!-- /row -->
						<!-- row -->
						<div class="row">
							<!-- item -->
							<div class="col-md-6">
								@if (!Model.IsCreate) {
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Aktivní</label>
										<div class="col-md-9">
											@if (Model.AllowEdit) {
												@Html.CheckBoxSimple(x => x.Enabled, new {@class = "filled-in chk-col-light-blue", tabindex = 8})
												@Html.NoSelectLaberFor(x => x.Enabled)
												@Html.ValidationMessageFor(x => x.Enabled)
											} else {
												<p class="form-control-static">
													@(Model.Enabled ? "Ano" : "Ne")
												</p>
											}
										</div>
									</div>
								}
							</div>
							<!-- /item -->
							@if (Model.Type.IsSplittable() || Model.IsCreate) {
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Povolit rozdělení</label>
										<div class="col-md-8">
											@if (Model.AllowEdit) {
												@Html.CheckBoxSimple(x => x.AllowSplit, new { @class = "filled-in chk-col-light-blue", tabindex = 8 })
												@Html.NoSelectLaberFor(x => x.AllowSplit)
												@Html.ValidationMessageFor(x => x.AllowSplit)
											} else {
												<p class="form-control-static">
													@(Model.AllowSplit ? "Ano" : "Ne")
												</p>
											}
										</div>
									</div>
								</div>
								<!-- /item -->
							}
						</div>
						<!-- /row -->
						@if (!Model.IsCreate) {
							<h3 class="card-title">
								Pokročilé
							</h3>
							<hr class="mt-0 m-b-40" />
							<!-- row -->
							<div class="row">
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3">Transakce</label>
										<div class="col-md-9">
											@Html.Partial("_TransactionPartial", Model.Transactions.OrderByDescending(x => x.Date).Take(10))
										</div>
									</div>
								</div>
								<!-- /item -->
								<!-- item -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="control-label text-right col-md-3"></label>
										<div class="col-md-8">
										</div>
									</div>
								</div>
								<!-- /item -->
							</div>
							<!-- /row -->
						}
						</div>
					<hr />
					<div class="form-actions">
						<div class="row">
							<div class="col-md-6">
								@if (Model.AllowEdit) {
									<button type="submit" class="btn btn-primary" tabindex="5">
										Uložit
									</button>
								} else {
									<a href="@Url.Action("Edit", new {id = Model.ID})" class="btn btn-primary" tabindex="6">
										Režim úprav
									</a>
								}
								<a href="@Url.Action("Dashboard")" class="btn btn-success" tabindex="7">
									Zpět
								</a>
							</div>
							<div class="col-md-6 text-right">
								@if (Model.AllowRemove) {
									<a href="#" class="text-danger" data-toggle="modal" data-target="#modalDelete">
										Použít/Odstranit žolíka
									</a>
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
@if (Model.AllowRemove) {
	@Html.Partial("_RemovePartial", Model.RemoveModel)
}

@section footer {
	<script type="text/javascript">
		$(() => {
			$("#table-trans").footable();
		});
	</script>
}