@model IEnumerable<DataAccess.Models.Notification>

@{
	ViewBag.Title = "Upozornění";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}


<div class="row NoSelectAll">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="list-group">
					@foreach (var ent in Model) {
						<a class="list-group-item list-group-item-action flex-column align-items-start notification" data-id="@ent.ID" data-seen="@ent.Seen">
							<div class="d-flex w-100 justify-content-between">
								<h4 class="mb-1">
									@ent.Title
									@if (!ent.Seen) {
										<span class="label label-warning px-1 ml-2">NOVÉ</span>
									}
								</h4>
								@{
									var diff = (DateTime.Now - ent.Created).Days;
									var date = "Dnes";
									if (diff == 1) {
										date = "Včera";
									} else if (diff > 1) {
										date = $"Před {diff} dny";
									}
								}
								<small class="text-muted">@date</small>
							</div>
							<p class="mb-1">@ent.Subtitle</p>
							@*<small class="text-muted">Donec id elit non mi porta.</small>*@
						</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section footer {
	<script type="text/javascript">
		$(() => {
			const url = "@Url.Action("NotificationSeen")";
			$(".list-group .notification").mouseenter((event) => {
				let $not = $(event.target);
				let seen = $not.data("seen") === "True";
				if (!seen) {
					let id = $not.data("id");
					$not.data("seen", "True");
					$.ajax({
						type: "POST",
						url: url,
						data: {
							id: id
						},
						success: (data) => {
							if (data === "true") {
								$not.find(".label").remove();
							} else {
								console.log("Vyskytla se chyba");
								$not.data("seen", "False");
							}
						},
						error: () => {
							console.log("Vyskytla se chyba");
							$not.data("seen", "False");
						},
						dataType: "text"
					});
					//console.log($badge);
				}
			});
		});
	</script>

}