@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.Admin.Models.Admin.QuickZolik

<div class="card-header">
	<div class="card-actions">
		<a class="" data-action="collapse">
			<i class="ti-minus"></i>
		</a>
	</div>
	<h4 class="card-title m-b-0">Rychlé vytvoření žolíka</h4>
</div>
<div class="card-body b-t collapse show">
	@using (Html.BeginForm("Create", "Zolik", new {Area = "Admin"}, FormMethod.Get, new {@class = "form-horizontal"})) {
		<div class="form-group">
			@Html.MaterialTextBoxFor(x => x.Title, 1)
			@Html.ValidationMessageFor(x => x.Title)
		</div>
		<div class="form-group">
			@Html.DropDownListFor(x => x.Type, Model.TypeSelect, new {@class = "form-control custom-select", tabindex = 2})
			@Html.ValidationMessageFor(x => x.Type)
		</div>
		<div class="form-group">
			@Html.DropDownListFor(x => x.SubjectID, Model.SubjectSelect, new {@class = "form-control custom-select", tabindex = 3})
			@Html.ValidationMessageFor(x => x.SubjectID)
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-primary" tabindex="4">
				Vytvořit
			</button>
		</div>
	}
</div>