@using SharedLibrary.Enums
@using ZolikyWeb.Tools
@model ZolikyWeb.Areas.App.Models.Main.DashboardModel
@{
	ViewBag.Title = "Přehled";
	Layout = "~/Areas/App/Views/Shared/_LayoutMenu.cshtml";
}

<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row" data-toggle="tooltip" data-placement="bottom" title="Včetně jokérů, černých petrů...">
					<div class="round round-lg align-self-center round-info">
						<i class="ti-wallet"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">
							@Model.ZolikCount
						</h3>
						<h5 class="text-muted mb-0">
							@Model.ZolikCountText
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row">
					<div class="round round-lg align-self-center round-warning">
						<i class="mdi mdi-laptop-windows"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.JokerCount</h3>
						<h5 class="text-muted mb-0">@Model.JokerCountText</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row" data-toggle="tooltip" data-placement="bottom" title="XP: @Model.XP">
					<div class="round round-lg align-self-center round-success">
						<i class="mdi mdi-trophy-award"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.Rank</h3>
						<h5 class="text-muted mb-0">Rank</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	<div class="col-lg-3 col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-row" data-toggle="tooltip" data-placement="bottom" title="@Model.GetSpecialDateText">
					<div class="round round-lg align-self-center round-danger">
						<i class="mdi mdi-calendar-clock"></i>
					</div>
					<div class="m-l-10 align-self-center">
						<h3 class="mb-0 font-light">@Model.SpecialDateText</h3>
						<h5 class="text-muted mb-0">@Model.SpecialDateDesc</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Column -->
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-6">
		<div class="card" style="min-height: 56%;">
			@Html.Partial("DPartials/_NewestZoliks", Model.Zoliky)
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	@if (Model.IsInClass) {
		<div class="col-xlg-3 col-lg-4 col-md-6">
			<div class="card NoSelectAll" data-drag="true" style="min-width: 310px;">
				@Html.Partial("DPartials/_ClassLeaderboard", Model)
			</div>
		</div>
	}
	<!-- /Column -->
	<!-- Column -->
	@if (!Model.IsPublic) {
		<div class="col-xlg-3 col-lg-4 col-md-6">
			<div class="card NoSelectAll" data-drag="true" style="min-width: 310px;">
				@Html.Partial("DPartials/_SchoolLeaderboard", Model.Leaderboard)
			</div>
		</div>
	}
	<!-- /Column -->
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-6">
		<div class="card" id="statsDiv" style="display: none;" data-drag="true">
			@Html.Partial("DPartials/_StatisticsPartial", Model)
		</div>
	</div>
	<!-- /Column -->
	<!-- </div> -->
<!-- /Row -->
<!-- Row -->
<!-- <div class="row"> -->
	<!-- Column -->
	<div class="col-xlg-3 col-lg-4 col-md-6">
		<div class="card" data-drag="true">
			@Html.Partial("DPartials/_Completed")
		</div>
	</div>
	<!-- /Column -->
	<!-- Column -->
	@if (Model.IsInClass) {
		<div class="col-xlg-3 col-lg-4 col-md-6" id="xpClassContainer" style="display: none;">
			<div class="card NoSelectAll" data-drag="true" style="min-width: 310px;">
				@Html.Partial("DPartials/_ClassXpLeaderboard", Model)
			</div>
		</div>
	}
	<!-- /Column -->
	<!-- Column -->
	@if (!Model.IsPublic) {
		<div class="col-xlg-3 col-lg-4 col-md-6" id="xpContainer" style="display: none;">
			<div class="card NoSelectAll" data-drag="true" style="min-width: 310px;">
				@Html.Partial("DPartials/_XpLeaderboard")
			</div>
		</div>
	}
	<!-- /Column -->
</div>
<!-- /Row -->

@section scripts {
	<script type="text/javascript">
		$(() => {
			$.get('@Url.Action("GetStatistics")',
				null,
				(data) => {
					data.forEach((elm) => {
						$(`#${elm.Key}`).text(elm.Value);
					});
					$("#statsDiv").fadeIn();
				}
			);

			const fillTable = (data, tbody) => {
				data.forEach((elm) => {
					const row = $("<tr>");

					const img = $("<img>",
						{
							src: elm.imgUrl,
							class: "img-circle img-profile-leaderboard wBorder",
							alt: "Profilový obrázek"
						}).css("border-color", elm.rank.Colour);

					let td = $("<td>");
					td.append(img);
					row.append(td);

					td = $("<td>").text(elm.fullName);
					row.append(td);

					const span = $("<span>",
						{
							class: "label label-light-info",
							"data-toggle": "tooltip",
							"data-placement": "bottom",
							title: "Rank"
						}).text(elm.rank.Title);
					td = $("<td>",
						{
							align: "right"

						});
					td.append(span);
					row.append(td);

					tbody.append(row);
				});
			}

			$.get('@Url.Action("GetClassXpLeaderboard")',
				null,
				(data) => {
					const tbody = $("#xpClass");
					const container = $("#xpClassContainer");

					fillTable(data, tbody);

					$('[data-toggle="tooltip"]').tooltip();
					container.fadeIn();
				}
			);


			$.get('@Url.Action("GetXpLeaderboard")',
				null,
				(data) => {
					const tbody = $("#xpSchool");
					const container = $("#xpContainer");

					fillTable(data, tbody);

					$('[data-toggle="tooltip"]').tooltip();
					container.fadeIn();
				}
			);

		});
	</script>
}

@section styles {
	<style type="text/css">
		.table.v-middle {
			margin-bottom: 0;
		}
	</style>
}