@model ZolikyWeb.Areas.Global.Models.Admin.Dashboard.SendNotificationsModel
@using ZolikyWeb.Tools

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Poslání notifikace studentům</h4>
		@using (Html.BeginForm("SendNotifications", "Admin", new { Area = "Admin" }, FormMethod.Post, new { @class = "floating-labels m-t-40" })) {
			@Html.AntiForgeryToken()
			<div class="form-group m-b-40">
				@Html.NoSelectLaberFor(x => x.Title)
				@Html.MaterialTextBoxFor(x => x.Title, 4)
				@Html.ValidationMessageFor(x => x.Title)
			</div>

			<div class="form-group">
				@Html.NoSelectLaberFor(x => x.Subtitle)
				@Html.MaterialTextBoxFor(x => x.Subtitle, 5)
				@Html.ValidationMessageFor(x => x.Subtitle)
			</div>
			<div class="form-group text-right">
				<button class="btn btn-primary" type="submit" tabindex="6">Odeslat</button>
			</div>
		}
	</div>
</div>